@import "../scss/layout/layout";
@import "../scss/base/colors";

.c-roulette__section {
  width: 80%;
  margin: 0 auto;
}

.c-roulette__section__form__item {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-roulette__section__form {
  background-color: $primary-color;
  color: $secondary-color;
  box-shadow: 0px 0px 30px $secondary-color;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  width: 50%;
}

.c-roulette__section__form__select {
  padding-top: 10px;
}

.c-roulette__section__movie-result__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: calc(100% - 100px);
}

.c-roulette__section__movie-result {
  width: calc(100% / 3);
  height: fit-content;
  display: flex wrap;
  justify-content: center;
}

.c-roulette__section__movie-result__information__item {
  background-color: $primary-color;
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
}

.c-roulette__movie__informations__item {
  background-color: $primary-color;
  width: 250px;
  height: 350px;
  cursor: pointer;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0px 0px 20px $secondary-color;
  margin: 30px;
  color: $secondary-color;
}

.c-roulette__movie__informations__img {
  display: block;
  margin: 0 auto;
  width: 150px;
}

.c-roulette__movie__vote__item {
  background-color: $secondary-color;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-color;
  box-shadow: 0px 0px 20px $secondary-color;
  position: relative;
  left: 250px;
  top: 60px;
}

.c-roulette__movie__informations__title {
  text-align: center;
  padding: 10px;
}

.c-roulette__movie__informations__info {
  margin: 0 10px;
}

.c-roulette__movie__informations__style {
  color: $third-color;
  margin: 5px;
}

.c-roulette__movie__informations {
  margin: 10px;
}

@media screen and (max-width: 1200px) {
  .c-roulette__section__movie-result {
    width: calc(100% / 2);
    height: fit-content;
    display: flex wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 850px) {
  .c-roulette__section__form {
    width: 90%;
  }

  .c-roulette__section__movie-result {
    width: 100%;
    height: fit-content;
    display: flex wrap;
    justify-content: center;
  }

  .c-roulette__section__movie-result {
    width: 100%;
    display: flex;
  }
}
